header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 4;

    img {
        height: 3rem;
    }

    button {
        display: none;
    }

    nav {
        display: block;

        button {
            display: none;
        }

        ul {
            display: flex;
            gap: 3rem;
    
            li {
                a {
                    text-decoration: none;
                    color: $Dark-grayish-blue;
    
                    &:hover {
                        cursor: pointer;
                        color: $Soft-red;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 900px) {
    header {
        grid-area: 1 / 1 / 2 / 3;
    }
}

@media screen and (max-width: 650px) {
    header {
        grid-area: 1 / 1 / 2 / 2;
        white-space: nowrap;

        img {
            height: 2rem;
        }

        button {
            display: block;
            background-color: transparent;
            border: none;
            
            img {
                height: 1.5rem;
            }
        }
        
        nav {
            display: none;
            position: absolute;
            left: 40%;
            top: 0%;
            padding: 2rem;
            width: 60vw;
            height: 110vh;
            background-color: $Off-white;

            &::before {
                content: "a";
                color: transparent;
                position: absolute;
                width: 45vw;
                left: -75%;
                top: 0%;
                height: 100%;
                background-color: #00000055;
            }

            button {
                background-color: transparent;
                display: block;
                margin: 0 0 2rem auto;
            }
            
            
            ul {
                flex-direction: column;
            }
        }
    }

}
