header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 4;

    img {
        height: 3rem;
    }

        ul {
        display: flex;
        gap: 3rem;

        li {
            a {
                text-decoration: none;
                color: $Dark-grayish-blue;
    
                &:hover {
                    cursor: pointer;
                    color: $Soft-red;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        grid-area: 1 / 1 / 2 / 3;
    }
}

@media screen and (max-width: 650px) {
    header {
        grid-area: 1 / 1 / 2 / 2;

        img {
            height: 2rem;
        }
    }
    
    a {
        display: none;
    }
}
