.highlight {
    grid-area: 2 / 1 / 3 / 3;
    display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    gap: 1rem 3rem;
        
    img {
        grid-area: 1 / 1 / 2 / 3;
        max-width: 100%;
    }

    h2 {
        font-size: 3.5rem;
        font-weight: 800;
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
        
        p {
            font-size: 1rem;
            color: $Dark-grayish-blue;
            line-height: 1.5em;
        }

        button {
            background-color: $Soft-red;
            font-weight: 700;
            padding: 1rem 2rem;
            outline: none;
            border: none;
            color: $Off-white;
            letter-spacing: 0.25rem;
            text-transform: uppercase;
        }
    }
}

