.new {
    grid-area: 2 / 3 / 3 / 4;
    background-color: $Very-dark-blue;
    color: $Off-white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h2 {
        color: $soft-orange;
        font-weight: 700;
        font-size: 2.5rem;
    }

    h3 {
        font-weight: 800;
        font-size: 1.25rem;
    }

    p {
        color: $Grayish-blue;
    }

    hr {
        min-width: 100%;
        border-color: $Dark-grayish-blue;
    }
}