@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './modules/variables';
@import './modules/header';

body {
    min-height: 100vh;
    display: grid;
}