@import './modules/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
@import './modules/variables';
@import './modules/header';
@import './modules/highlight';
@import './modules/new';
@import './modules/bottom';

* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    transition: 300ms;
}

body {
    font-family: 'Inter', sans-serif;
    display: grid;
    gap: 3rem;
    padding: 8rem;
    background-color: $Off-white;
}

@media screen and (max-width: 900px){
    body {
        padding: 2rem;
    }
}